

body{
    margin:0 auto;
    background: linear-gradient(to top right, #000000 1%, #cb2500 87%);
}

/* titre */
.main-title{
    font-size: 40px;
    font-family: 'Forum',cursive;   
    text-align: center;
    font-weight: 100;
    background-color: white;
    border-radius: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* button retour */

.retour-btn{
    margin-right: auto;
    margin-left: auto;
    width: 70px;
    text-align: center;
    background-color: #fff;
    border-radius: 24px;

}

.btn{
    text-decoration: none;
    color:black;
}


/* nom du dev (hehe)*/
.moi-div{
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.moi{
    text-align: center;
    color:white;
    font-family: 'Forum';
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 100px;
}

.moi-p{
    text-align: center;
    font-family: 'Forum';
    color:white;
    font-size: 30px;
}

/* gestion du slider */

.slider{
    margin-top: 200px;
    border-radius: 30px;
    height: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x:visible;
    margin-bottom: 50px;
}

.slide1{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('images/politique/politique-1.png');
    background-size:cover;

}

.slide2{
    background-color: red;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('images/politique/politique-2.png');
    background-size:cover;

}

.slide3{
    background-color: red;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('images/politique/politique-3.png');
    background-size:COVER;

}


@media screen and (max-device-width:500px){
    /* titre */
    .main-title{
        font-size: 70px;
        width: 90%;
    }
}

@media screen and (max-device-width:1024px){
    /* titre */
    .main-title{
        font-size: 50px;
        width: 100%;
    }

    /* button retour */
    .retour-btn{
        margin-right: auto;
        margin-left: auto;
        width: 200px;
        text-align: center;
        background-color: #fff;
        border-radius: 24px;

    }

    .btn{
        text-decoration: none;
        font-size: 40px;
    }
}

@media screen and (min-device-width: 800px){
    .slide1{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        background-image: url('images/politique/politique-1.png');
        background-size:cover;
    
    }
    
    .slide2{
        background-color: red;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        background-image: url('images/politique/politique-2.png');
        background-size:cover;
    
    }
    
    .slide3{
        background-color: red;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        background-image: url('images/politique/politique-3.png');
        background-size:cover;
    
    }
}







