

@keyframes transitionIn{
from {
    opacity: 0;
    transform: rotateX(-100deg);
}

to{
    opacity: 1;
    transform: rotateX(0);
}
}

/* html et body */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    /* petits reglages */
    font-family: 'Forum';
    background: linear-gradient(to top right, #000000 1%, #cb2500 87%);
    height: fit-content;
}

/* LOADER */
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:99;
}

.loader img{
    position: absolute;
    bottom: 200px;
    height: 300px;
    width: 300px;

}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

/* HEADER */


/* main title */
.main-title{
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color:black;
    margin-top: 5px;
    border-radius: 25px;
    font-weight: 500;
    text-align: center;
    font-size: 4em;
    box-shadow: 10px 10px 20px;

}

.accueil-txt{
    align-items: center;
    position: absolute;
    margin-left: 20px;
    background-color: white;
    border-radius: 24px;
    width: 100px;
    text-align: center;
}

.accueil-txt a{
    color:black;
    text-transform: none;
    text-decoration: none;
    font-weight: 100;

}

/* logo  */
.logo-box{
    border-radius: 50%;
    border:solid;
    border-width: 0.1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    height: 100px;
    width: 200px;
    box-shadow: 10px 25px 30px;
    background-color: #333;

}

.logo-box p{
    font-family: 'MonteCarlo', cursive;
    color:black;
    text-align: center;
    font-size: 50px;
    position:relative;
    margin-top: 3px;
    right:10px;
    color:white;
}

/* carroussel automatique */
.main-box{
    margin-top: 40px;
    position: relative;
    width: 700px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    overflow:hidden;
    box-shadow: 10px 25px 30px;
}

.card-part{
    align-items: center;
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;        
    z-index: 7;
    background-image: url('images/patisseries/1.jpg');
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    animation: slider 28s ease-in-out
    infinite ;
    transform: translateX(700px);
}

.cp2{
    background-image: url('images/patisseries/2.jpg');
    animation-delay: 7s;
    z-index: 6;
}

.cp3{
    background-image: url('images/patisseries/3.jpg');
    animation-delay: 14s;
    z-index: 5;
}

.cp4{
    background-image: url('images/patisseries/4.jpg');
    animation-delay: 21s;
    z-index: 4;
}

/* animation caroussel */
@keyframes slider {
    3%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(0px);
    }
    28%{
        transform: translateX(-700px);
    }
    100%{
        transform: translateX(-700px);
    }
}

/* TEXTE LEHECH */
.box-txt2{
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.box-txt2 p{
    color: white;
    text-align: center;
    font-size: 40px;

}


/* barre de navigation */
.nav-pc{
    background-color: white;
    border-radius: 40px;
    display:flex;
    position: fixed;
    bottom: 10px;
    height: 50px;
    align-items: center;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    left: 10%;
    right: 10%;
    z-index: 10;
    text-align: center;
    gap: 10px;
    
}

.nav-pc li a {
    font-family: 'Forum';
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    
}

/* effet soulignement barre navigation */
.nav-pc li a::before{
    content: "";
    width:0%;
    height: 2px;
    background-color: red;
    border-radius: 24px;
    position: absolute;
    bottom: 0;
    transition: width 0.5s ease-in-out;
}

.nav-pc li a:hover::before{
    width: 100%;
}



.nav-phone{
    display: none;
    background-color: white;
    position: fixed;
    bottom: 10px;
    width:100%;
    height: 50px;
    align-items: center;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.nav-phone li a {
    display:none;

}



/* gestion de la grille */
.grille{
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 300px);
}

.grid-item{
    width: 300px;
    height: 200px;
    background-color: #333;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
} 

/* images premiere grid */
.grid11{
    background-image: url('images/patisseries/5.jpg');
}
.grid12{
    background-image: url('images/patisseries/6.jpg');
}
.grid13{
    background-image: url('images/patisseries/7.jpg');
}
.grid14{
    background-image: url('images/patisseries/5.jpg');
}
/* images deuxieme grid */
.grid21{
    background-image: url('images/patisseries/7.jpg');
}
.grid22{
    background-image: url('images/patisseries/5.jpg');
}
.grid23{
    background-image: url('images/patisseries/6.jpg');
}
.grid24{
    background-image: url('images/patisseries/5.jpg');
}



.grid-title{
    text-align: center;
    font-family: 'Forum', cursive;
    color:white;
    font-size: 60px;
    font-weight: 100;
}

.grid-title1{
    margin-top: 100px;
}

.barre-sep{
    color:white;
    text-align: center;
    margin-top: 150px;
}

.test{
    font-size: 20px;
    margin-top: 500px;
}


/* RESPONSIVE */

@media screen and (max-width:760px){
    /* on enleve la  nav pc */
    .nav-pc{
        display:none
    }
    .nav-pc li a {
        display:none;
    }   

    /* on met la nav phone */
    .nav-phone{
        display:flex;
        height: 3em;
        border-radius: 50px;
        bottom: 20px;
        width: 80%;
        left: 10%;
        right: 10%;
    }
    .nav-phone li a{
        display:flex;
        font-family: 'Forum';
        font-size: 30px;
        color: black;
        text-decoration: none;
    }

    /* maintitle */
    .main-title{
        font-size: 50px;
        border-radius: 50px;
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }
    /* grid */

    .grille{
        grid-template-columns: repeat(2, 200px);
    }
    .grid-item{
        width: 200px;
        height: 100px;
        border-radius: 30px;
    }


   
    /* ajustement taille slider téléphone */
    .main-box{
        height: 300px;
        width: 500px;
    }
    /* text box image debut */

    .box-txt{
        width: 800px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        background: url('images/patisseries/patissier.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 50px;
    }

    /* text lehech */
    .box-txt2{
        margin-top: 100px;
        width: 700px;
        height: fit-content;
    }
    .box-txt2 p{
        font-size: 40px;
    }

    .barre-sep{
        margin-top: 100px;
    }

    /* gestion du logo */

    .logo-box{
        margin-top: -10px;
        height: 70px;
        width: 120px;
    }
    
    .logo-box p{
        font-family: 'MonteCarlo', cursive;
        text-align: center;
        font-size: 30px;
        position:relative;
        margin-top: 9px;
        right:7px;
    }
    /* retour à la page d'accueil bouton */

    .accueil-txt{
        width: 100px;
    }
    .accueil-txt a{
        font-size: 1em;
        color:black;
    }

}

