/* scroll fluide */
html{
    scroll-behavior: smooth;
}

/* reglages generaux du body */
body{
    margin: 0 auto;
    background: linear-gradient(to top right, #000000 1%, #cb2500 87%);
    /* overflow sur axe y interdit */
    overflow-x:hidden;
    font-family: 'Forum';
}


/* chargement du site */
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:99;
}

.loader img{
    position: absolute;
    bottom: 200px;
    height: 300px;
    width: 300px;

}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

/* ajouter delay à certaines div */
@keyframes fadein{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/* SECTION 1 TOP PAGE */

/* gestion dulogo */
header.header img{
    position: absolute;
    box-shadow: 5px 5px 5px black;
    width: 90px;
    margin-top: 60px;
    margin-left: 40px;
    border-radius: 50%;
    border: red;
    transition: width 0.2s ease-in-out;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */


}
/* animation hover du logo */
header.header img:hover{
    width: 100px;
}


/* gestion du menu de navigation et animations */
.gradient-bar-top{
    background-color: white;
    height: 1vh;
}

.gradient-bar-bottom{
    background-color: white;
    height: 10px;

}

.nav{
    background: linear-gradient(to bottom, #000000 0%, #CB2500 120%);
    height: 90px;
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;

}

.nav li a{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    font-family: 'Forum';
    font-weight: 200;
    text-transform: uppercase;
    position:relative;
    text-align: center;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */
}

.nav li a::before{
    content:"";
    background-color: #CF2323;
    width: 100%;
    height: 1px;
    line-height: 100px;
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: transform 0.4s ease-in-out;
}

.nav li a:hover::before{
    transform: scale(1);
}


/* gestion page d'acccueil */

/* grande image page accueil */
.main-image{
    background-color: red;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url('images/background.jpg');

}

/* grand titre boulangerie page d'accueil */
.big-title{
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    text-align: center;
    position: absolute;
    top: 200px;
    color: white;
    font-size:  4em;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */
}


/* bouton nous contacter et animations */
.button-box{
    background-color: white;
    margin-left: 90px;
    width: 0px;
    border-radius: 24px;
    transform: translateY(-50px);
    transition: width 0.5s ease-in-out;
}

.contact-button{
    color: white;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-left:20px;
    display: flex;
    width: 250px;
    text-decoration: none;
    font-family: 'Abril FatFace' , cursive;
    transition: color 0.3s ease-in-out;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */

}

.button-box:hover{
    width: 250px;
}

.contact-button:hover{
    color: black;
}
/* Les classiques */

/* barre séparatrice */
.barre-sep{
    text-align: center;
    color: white;
    font-weight: 1000;
    margin-top: 50px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

}

/* SECTION 2 */

/* gros titre nos classiques */
.classic-title{
    font-size: 4em;
    font-family: 'Forum';
    color: white;
    overflow: hidden;
    font-weight: 100;
    text-align: center;
}

/* images des classiques */


.classic-image-box{   /* box div image classique */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;

}

.classic-image{ /* boite image classique*/
    background-size: cover;
    background-position: center;
    height: 403px;
    width: 302px;
    border-radius: 14px;
    margin-top: 50px;
    transition: height 0.4s ease-in-out;
}

.classic-image:hover{ /*anim hover image classique*/
    height: 473px;
}


/* fichiers src des images classiques */
.cl1{
    background-image: url('images/nos-classiques/1.jpeg');
}

.cl2{
    background-image: url('images/nos-classiques/2.jpg');
}

.cl3{
    background-image: url('images/nos-classiques/3.jpg');
}



/* DETAILS DES IMAGES CLASSIQUES TXT ETC... */

/* div generale details */
.classic-details{
    background: rgba(0,0,0,0.7);
    width: 100%;
    border-radius: 25px;
}
/* nom du classique */
.classic-name{
    color: white;
    margin-top: 120%;
    text-align: center;
    font-size: 33px;
    font-family: 'Forum';
    color: white;
    font-weight: 100;
}


/* SECTION nos patisseries */

        /* SLIDERS */
/* titre entre chaque slider */
.titre-partie-pain{
    text-align: center;
    font-size: 40px;
    font-family: 'Forum';
    font-weight: 200;
    color: white;
    margin-top: 50px;
    position: relative;
    line-height: 40px;

}
/* soulignement partiel du titre en chaque part */
.titre-partie-pain::before{
    content: " ";
    font-family: 'Abril FatFace' cursive;
    width: 50px;
    height: 4px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    line-height: 1px;
}



/*  SECTION 3 NOS PAINS*/


    /* sliders */

/* premiere ligne de slider tarte feuille */
.slider-1{
    /* background-color: green; */
    height: fit-content;
    margin-top: 40px;
    overflow-x: auto;
}
/* deuxieme ligne de slider tarte sablees */
.slider-2{
    /* background-color: blue; */
    height: fit-content;
    margin-top: 40px;
    overflow-x: auto;
    overflow-y: hidden;
}
/* troisieme ligne de slider des gateaux */
.slider-3{
    /* background-color: violet; */
    height: fit-content;
    margin-top: 40px;
    overflow-x: auto;
    overflow-y: hidden;
}
/* quatrieme ligne de slider gateaux individuels */
.slider-4{
    /* background-color: violet; */
    height: fit-content;
    margin-top: 40px;
    overflow-x: auto;
    overflow-y: hidden;
}
    /* slides */

/* premiere ligne de slides tartes feuilletées */
.slides-1{
    display:flex;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
/* deuxieme ligne de slides tarte sablees */
.slides-2{
    display:flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
/* troisieme ligne de slides des gateaux */
.slides-3{
    display:flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
/* quatrieme ligne de slides gateaux individuels */
.slides-4{
    display:flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

        /* PARAMETRE UNIQUE DE L'IMAGE DU SLIDER */
.slide-pain img{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    margin-top: 35px;
}

/* SECTION 4 // NOUS CONTACTER */
/* wave */
.contact-div{
    margin-top: 50px;
    background-color: black;
    width:90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 70px;
    background: rgba(7, 7, 7, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(7, 7, 7, 0.3);
    align-items: center;
}


/* RESEAUX/MAIL/PHONE */
.contact-icon-title{
    text-align: center;
    color:white;
    font-size: 30px;
    font-family: 'Forum', cursive;
    font-weight: 100;
}
/* icones */
.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon-i {
    font-size: 50px;
    color: white;
    font-weight: 100;
}

/* find us */
.find_us{
    text-align: center;
    color:white;
    font-size: 35px;
    font-family: 'Forum', cursive;
}



.adress-box{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.adress-title{
    font-size: 35px;
    color:white;
    text-align: center;
    position: relative;
    width: fit-content;
}

.adress-title:before{
    content: '';
    background-color: red;
    width:100%;
    height: 2px;
    position: absolute;
    bottom:0;

}

.hours-title{
    color:white;
    font-size: 40px;
    text-align: center;
    font-family: 'Forum';
}

.hours{
    font-size: 20px;
    color:white;
    text-align: center;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.hours li::first-letter{
    text-transform: uppercase;
    color:red;
    font-size: 30px;    
}








/* RESPONSIVE */

@media screen and (min-device-width: 2062px){
    
    .slide-pain{
        margin-left:auto;
        margin-right: auto;
    }
}

@media screen and (max-width:1024px){
    /* menu navigation  */
    .nav li a{
        font-size: 1em;
        color: black;
    }
    /* passage du menu de navigation en mode bouton */
    .li-bg{
        background-color: white;
        width:100px;
        border-radius: 14px;
        position: relative;
        text-align: center;
    }

    /* on desactive le soulignement */
    .nav-li a::before{
        display:none;
    }
    /* ajustement de la taille des titres de chaque section du site */
    .classic-title{
        font-size: 3.3em;
    }
    /* ajustement du titre principal de la page */
    .big-title{
        font-size: 2em;
    }
    /* ajustement des images des slides de patisseries */
    .slide-pain img{
        height: 200px;
        width: 200px;
    }
    /* ajustement de la taille du titre entre chaque parties des patisseries */
    .titre-partie-pain{
        font-size: 30px;
    }
    /* ajustement de la taille des images de nos classiques */
    /* .classic-image{
        height: 303px;
        width: 202px;
    } */
    /* ajustement de l'animation des images de nos classiques */
    .classic-image:hover{
        height: 473px;
    }
    /* ajustement de la taille du logo */
    header.header img{
        display:none;
    }
    /* on désactive le bouton contact en mode téléphone */
    .contact-button{
        display:none;
    }

    /* partie nous contacter */

    /* txt adresse */
    .adress-title{
        font-size: 25px;
        font-weight: 200;
    }
    .adress-title:before{
        height: 1px;
    }
    /* images contact */
    .contact-images{
        height: auto;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap:0px;
    }
    
    .image_contact{
        width: 35%;
        height: auto;
        align-items: center;
        border-radius: 20px;
    }

    /* div contact */
    .hours-title{
        font-size: 35px;
    }
    .hours{
        margin-bottom: 30px;
    }
    /* taille icones */
    .icon-i {
        font-size: 40px;
    }
    /* taille contact text */
    .contact-icon-title{
        font-size: 25px;
    }
    /* find us title */
    .find_us{
        text-align: center;
        color:white;
        font-size: 30px;
        font-family: 'Forum', cursive;
    }

    .adress-title{
        font-size: 20px;
    }
}



/* responsive pour très petit écran (fold, Iphone4 etc..) */
@media screen and (max-width:330px){

    /* menu navigation  */
    .nav li a{
        font-size: 0.7em;
        color: black;
    }
    /* passage du menu de navigation en mode bouton */
    .li-bg{
        background-color: white;
        width:75px;
        border-radius: 10px;
        position: relative;
        text-align: center;
    }
    /* ajustement de la taille du logo */
    header.header img{
        display:none;
    }
    /* ajustement des images des slides de patisseries */
    .slide-pain img{
        height: 150px;
        width: 150px;
    }
    /* ajustement de la taille des titres de chaque section du site */
    .classic-title{
        font-size: 3.3em;
    }
    /* ajustement de la taille du titre entre chaque parties des patisseries */
    .titre-partie-pain{
        font-size: 20px;
    }

    /* ajustement de la taille de classic name */
    .classic-name{
        color: white;
        margin-top: 120%;
        text-align: center;
        font-size: 15px;
    }
    /* on désactive le bouton contact en mode téléphone */
    .contact-button{
        display:none;
    }
    /* ajustement de la taille des images de nos classiques */
    .classic-image{
        height: 303px;
        width: 202px;
    }
    /* adress title */
    .adress-title:before{
        width: 90%;
    }



}

/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
    color:white;
}

footer a.cgv {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}